<a href="https://colab.research.google.com/github/harish143coding/DaSciUd/blob/develop/Pyspark_learnings_nb1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Executor cell

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, avg, max, min
spark = SparkSession.builder.appName("learningsession").getOrCreate()

In [10]:
#start with D12
data = [("a", "el", 11),
        ("b", "el", 12),
        ("c", "fur", 13),
        ("d", "fur", 14),
        ("e", "el", 15),
        ("f", "fur", 16)
]
df  = spark.createDataFrame(data, ["Customer", "category", "Amount"])
df.show()

+--------+--------+------+
|Customer|category|Amount|
+--------+--------+------+
|       a|      el|    11|
|       b|      el|    12|
|       c|     fur|    13|
|       d|     fur|    14|
|       e|      el|    15|
|       f|     fur|    16|
+--------+--------+------+

In [ ]:
df.groupBy("category").sum("amount").show()

+--------+-----------+
|category|sum(amount)|
+--------+-----------+
|      el|         38|
|     fur|         43|
+--------+-----------+

In [3]:
df.groupBy("customer").sum("amount").show()

+--------+-----------+
|customer|sum(amount)|
+--------+-----------+
|       c|         13|
|       b|         12|
|       a|         11|
|       f|         16|
|       e|         15|
|       d|         14|
+--------+-----------+

In [11]:
#cntd D12S3
df.groupBy("Customer")\
   .agg(sum("Amount").alias("Totalspent"),\
        avg("Amount").alias("Avgspent"),\
        max("Amount").alias("Maxspent"),\
        min("Amount").alias("Minspent")).show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'