In [1]:
import pandas as pd

In [2]:
salaries = pd.read_csv("salaries_by_college_major.csv")

In [3]:
salaries.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [4]:
salaries_cleaned = salaries.dropna()

In [5]:
salaries_cleaned["Starting Median Salary"].idxmax()

43

### Challenge 1

In [6]:
print(salaries_cleaned['Mid-Career Median Salary'].idxmax())
print(salaries_cleaned['Mid-Career Median Salary'][8])
salaries_cleaned['Undergraduate Major'][8]

8
107000.0

'Chemical Engineering'

In [7]:
print(salaries_cleaned['Starting Median Salary'].idxmin())
salaries_cleaned['Group'][49]

49

'HASS'

In [8]:
salaries_cleaned['Mid-Career Median Salary'].idxmin()
salaries_cleaned['Group'][18]

'HASS'

## Challenge 2

In [9]:
salaries_cleaned.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [11]:
#print(f"highest values in the 90th percetile are : {salaries_cleaned.sort_values(by= 'Mid-Career 90th Percentile Salary', ascending = False)[['spread', 'Mid-Career 90th Percentile Salary']].head()}")

In [12]:
spread = salaries_cleaned['Mid-Career 90th Percentile Salary'] - salaries_cleaned['Mid-Career 10th Percentile Salary']

In [13]:
salaries_cleaned.insert(1, column = 'spread', value = spread)

In [14]:
print(f"majors with highest difference in spread {salaries_cleaned.sort_values(by = 'spread',ascending=False)[['Undergraduate Major','spread']].head()}")

majors with highest difference in spread    Undergraduate Major    spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

## Challenge 3

In [22]:
salaries_cleaned.groupby('Group').mean()

,spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000